@import 'var';

*{
    margin: 0;
    padding: 0;
    color: @paragraph;
    font-family: @font-family-sans-serif;
}

body{
    background-color: @background;
}

a{
    text-decoration: none;
    color: @main;

    &:hover{
        color: lighten(@main, 20%);
    }
}

@import 'header';